body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cursor-pointer{
  cursor: pointer;
}

.article-card-hover:hover{
  background: black;
  color:white;
  scale: 1.05;
  transition:  0.3s ease-in-out;
}

.text-purple{
  color:#8c34ff
}
.article-card-hover-reverse{
  background: white;
  color:black;
  scale: 1.05;
  transition:  0.3s ease-in-out;
}

.article-content {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Show only 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6.0em; /* Adjust based on font size and line height */
}

.article-title-new {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Show only 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6.0em; /* Adjust based on font size and line height */
}


